<div>
  <p>{{ question }}</p>

  <!-- Form starts -->
  <form class="from-wrapper" #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>
    <!-- Gender -->
    <div *ngFor="let answer of answers; let i = index"
     class="custom-control custom-radio">
      <input
        id="{{ answer.id }}"
        type="radio"
        class="custom-control-input"
        value="{{ i }}"
        name="answer"
        ngModel
        required
      />
      <label class="custom-control-label" for="{{ answer.id }}">{{ answer.value }}</label>
    </div>

    <div *ngIf="isSubmitted && myForm.invalid">
      <p>Please select either value</p>
    </div>
    <!-- Submit Button -->

    <div class="row" *ngIf="hasMoreQuestions">
      <div class="submit-btn-wrapper col">
        <button type="submit" class="btn btn-info btn-rounded">NEXT QUESTION <i class="fa fa-play"></i></button>
      </div>
    </div>

  </form>
  <!-- Form ends -->
</div>
