.profile-btn {
    background: #26344b !important;
}

.profile-btn:hover {
    background: #00a0f9 !important;
    border: solid 1px #009efd;
}

.profile-btn:active {
    background: #26344b !important;
    box-shadow: none;
    border: solid 1px #009efd;
}

.profile-btn:focus:not(:hover) {
    background: #26344b !important;
    box-shadow: none;
    border: solid 1px #009efd;
}
