.hoverable-tr:hover {
    color: #009EFD;
    cursor: pointer;
}

::ng-deep .code-editor-component .card .card-header {
    background: none;
    border: none;
    padding: 0;
    padding-top: 10px;
}

::ng-deep .code-editor-component .card .card-header > h5 > button{
    padding: 0;  
}

::ng-deep .nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #398bf7;
}