<div *ngIf="!code">
  <p class="p-30">No source code file for this video</p>
</div>

<div *ngIf="code">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <!-- <ngb-panel title="{{codefile.title}}" *ngFor="let codefile of code"> -->
    <ngb-panel *ngFor="let codefile of code">
      <ng-template ngbPanelTitle>
        <div class="" style="color: #398bf7; padding-left:0.5rem;">
          <i class="fa fa-file"></i>&nbsp;{{codefile.title}}
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <table class="card-text" style="width:100%">
          <tr class="hoverable-tr" *ngFor="let line of codefile.lines" (click)="onSelect(line)">
            <td>{{line.content}}</td>
            <td>{{line.timestamp}}</td>
          </tr>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>