<div class="row justify-content-center">
  <div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Video Publish</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to publish this video. Once published  modifications are not allowed. Please confirm publishing.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="publishVideo(); c('Close click');">Publish Video</button>
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cancel</button>
      </div>
    </ng-template>
    <!-- <button type="button" class="btn btn-primary btn-rounded" style="margin-bottom: 15px; width: 200px;" (click)="openVerticallyCentered(content); c('Close click');"> -->
    <button type="button" class="btn btn-primary btn-rounded" style="margin-bottom: 15px; width: 200px;" (click)="openVerticallyCentered(content);">
      <i class="fa fa-check-square-o" aria-hidden="true"></i> Publish Video</button>
  </div>
  <div class="col-md-12">
    <div style="min-height: 100vh;">
      <ngb-tabset justify="justified">
        <ngb-tab title="Topic Review">
          <ng-template ngbTabContent>
            <div class="tab-wrapper">
              <app-topic-model [video]="video"></app-topic-model>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- <ngb-tab title="Code Matching Review">
          <ng-template ngbTabContent>
            <div class="tab-wrapper"></div>
          </ng-template>
        </ngb-tab> -->
        <ngb-tab title="Questions">
            <ng-template ngbTabContent>
              <div class="question-tab-container tab-wrapper">
                <app-question-editor [questions]="video.questions" [videoId]="video.id">
                </app-question-editor>
              </div>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <br />
</div>
