<div class="row">
  <div class="col-md-12">
    <div style="min-height: 100vh;">
      <ngb-tabset justify="justified" type="pills">
        <ngb-tab title="Topic Review">
          <ng-template ngbTabContent>
            <div class="tab-wrapper">
              <app-topic-model [video]="video"></app-topic-model>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Code Matching Review">
          <ng-template ngbTabContent>
            <div class="tab-wrapper">

            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Questions">
          <ng-template ngbTabContent>
            <div class="question-tab-container tab-wrapper">
              <app-question-editor
                [questions]="questions"
              >
            </app-question-editor>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <br>
</div>
