<div id="mySidebar" [ngClass]="_opened ? 'sidebar-open' : 'sidebar-close'">
  <div class="topic-content-wrapper">
    <button class="topics-btn" type="button" (click)="toggleSidebar()">
      <i *ngIf="_opened" class="fa fa-caret-left"></i> TOPICS
      <i *ngIf="!_opened" class="fa fa-caret-right"></i>
    </button>
  </div>

  <div class="btn-list-wrapper">
    <div class="btn-wrapper" *ngFor="let topic of video.topics; let i = index">
      <div (click)="seekVideoTopics(topic.time)">
        <button type="button" class="btn btn-circle btn-lg btn-primary ">
          <p>{{ i + 1 }}</p>
        </button>
        <strong *ngIf="_opened">{{ topic.title }}</strong>
      </div>
    </div>
  </div>
</div>

<div id="main" [ngClass]="_opened ? 'main-open' : 'main-close'">
  <div class="row">
    <!-- <div class="col-md-1">
          <button type="button" class="btn btn-primary btn-circle btn-lg" (click)="toggleSidebar()"><i class="fa fa-list"></i> </button>
        </div> -->
    <div class="col-md-7">
      <div class="row video-loading-gif justify-content-center flex-column" [hidden]="videoLoaded">
          <div style="padding: 100px 0px 10px 0px; text-align: center;">
              <img src="assets/images/loading.gif" alt="John Doe">
              <p class="loading-text">Loading Media...</p>
          </div>
      </div>
      <div class="row" [hidden]="!videoLoaded">
        <!-- <div class="player-container">
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <video
                  [vgMedia]="media"
                  #media
                  id="singleVideo"
                  preload="auto"
                  controls
                >
                  <source src="assets/gravity_falls_opening.mp4" type="video/mp4" />
                </video>
              </vg-player>
            </div> -->

        <div class="player-container">
          <app-video-player [videoToggle]="getVideoToggleMethod" videoSrc="{{ video.video_url }}" videoType="mp4">
          </app-video-player>
          <app-video-infobar videoTitle="{{video.videoTitle}}" videoDescription="{{video.description}}">
          </app-video-infobar>
        </div>
      </div>

      <div class="row">
        <div class="question-component-wrapper col">
          <app-question-asker *ngIf="video['questions']" questionCount="{{ video['questions'].count }}"
            [questions]="video['questions'].questions">
          </app-question-asker>
        </div>

        <!-- <button type="button" class="btn btn-rounded btn-block btn-primary" (click)="seekVideo(30)" style="width:auto; margin-top: 10px">Seek video to 30 seconds</button>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
              dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
              iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p> -->
      </div>
    </div>

    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <ngb-tabset justify="justified" type="pills">
            <ngb-tab title="Code Finder">
              <ng-template ngbTabContent>
                <app-code-editor [seekVideo]="getSeekFunction" [code]="video.code"></app-code-editor>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Lecture Slides">
              <!--<ng-template ngbTabTitle>Lecture Slides</ng-template>-->
              <ng-template ngbTabContent>
                <app-slide-match></app-slide-match>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>