<div id="mySidebar" [ngClass]="_opened ? 'sidebar-open' : 'sidebar-close'">
  <div class="topic-content-wrapper">
    <button class="topics-btn" type="button" (click)="toggleSidebar()">
      <i *ngIf="_opened" class="fa fa-caret-left"></i> TOPICS
      <i *ngIf="!_opened" class="fa fa-caret-right"></i>
    </button>
  </div>

  <div class="btn-list-wrapper">
    <div class="btn-wrapper" *ngFor="let topic of topics; let i = index">
      <div (click)="seekVideo(topic.time)">
        <button
          type="button"
          class="btn btn-circle btn-lg btn-primary "

        >
          <p>{{ i + 1 }}</p>
        </button>
        <strong *ngIf="_opened">{{ topic.topic }}</strong>
      </div>
    </div>
  </div>
</div>

<div id="main" [ngClass]="_opened ? 'main-open' : 'main-close'">
  <div class="row">
    <!-- <div class="col-md-1">
          <button type="button" class="btn btn-primary btn-circle btn-lg" (click)="toggleSidebar()"><i class="fa fa-list"></i> </button>
        </div> -->
    <div class="col-md-7">
      <div class="row">
        <!-- <div class="player-container">
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <video
                  [vgMedia]="media"
                  #media
                  id="singleVideo"
                  preload="auto"
                  controls
                >
                  <source src="assets/gravity_falls_opening.mp4" type="video/mp4" />
                </video>
              </vg-player>
            </div> -->

        <app-video-player videoSrc="{{ video.src }}" videoType="mp4">
        </app-video-player>
      </div>

      <div class="row comments-section">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
                <div class="row">
                  <div class="col-md-1">
                    <img src="assets/images/users/1.jpg" alt="user" class="profile" />
                  </div>
                  <div class="col-md-11">
                    <mat-form-field class="full-width">
                    <textarea matInput maxlength="256" placeholder="Your Comment" matTextareaAutosize
                              matAutosizeMinRows="2" matAutosizeMaxRows="5" [(ngModel)]="myComment"></textarea>
                      <mat-hint align="start">Comment your ideas and suggestions about this video</mat-hint>
                    </mat-form-field>
                  </div>


                </div>
              <div class="row justify-content-end">
                <button type="button" class="btn btn-outline-secondary btn-rounded comment-btn"><i class="fa fa-times"></i> Cancel </button>
                <button type="button" class="btn btn-outline-info btn-rounded comment-btn"><i class="fa fa-comment"></i> Comment</button>
              </div>
              <div class="row" class="comments">
                <div class="col-md-12">
                    <ngb-accordion #acc="ngbAccordion" >
                      <ngb-panel title="{{commentCount}} Comments">
                        <ng-template ngbPanelContent>
                          <div class="row" *ngFor="let comment of comments">
                            <div class="col-md-1">
                              <img src="assets/images/users/1.jpg" alt="user" class="profile-comments" />
                            </div>
                            <div class="col-md-11">
                              <div class="row">
                                <div class="col-md-6 comment-user">
                                  {{comment.user}}
                                </div>
                                <div class="col-md-6 justify-content-end comment-time">
                                  {{dateConverter(comment.time)}} Ago <span><button type="button" class="btn reply-button btn-rounded btn-sm btn-outline-info" (click)="reply(comment.user)"><i class="fa fa-reply"></i></button></span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <p>{{comment.comment}}</p>
                                </div>
                              </div>

                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="question-component-wrapper col">
          <app-question-asker
            *ngIf="video['questions']"
            questionCount="{{ video['questions'].count }}"
            [questions]="video['questions'].questions"
          >
          </app-question-asker>
        </div>

        <!-- <button type="button" class="btn btn-rounded btn-block btn-primary" (click)="seekVideo(30)" style="width:auto; margin-top: 10px">Seek video to 30 seconds</button>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
              dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
              iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p> -->
      </div>
    </div>

    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <ngb-tabset justify="justified" type="pills">
            <ngb-tab title="Code Finder">
              <ng-template ngbTabContent>
                  <app-code-editor [seekVideo]="getSeekFunction" [code]="video.code"></app-code-editor>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Lecture Slides">
              <!--<ng-template ngbTabTitle>Lecture Slides</ng-template>-->
              <ng-template ngbTabContent>
                <app-slide-match></app-slide-match>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
