.player-container {
  width: 100%;
}

.video-loading-gif {
  align-content: center;
}

.loading-text {
  color: #009EFD;
}

li{
  padding: 15px 10px;
  list-style: none;
  font-size: 15px;
  color: #6610f2;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

li:hover{
  background: #6610f2;
  color: white;
}

#header{
  font-weight: bold;
  font-size: 20px;
}

ng-sidebar{
  background: #99abb4;
}

.question-component-wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* The sidebar menu */
.sidebar-close {
  margin-left: 80px;
  height: 100%; /* 100% Full-height */
  width: 80px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar-open {
  margin-left: 80px;
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar-open a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar-open a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar-open .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

.main-open {
  margin-left: 250px !important;
}

.main-close {
  margin-left: 60px !important;
}

.topics-btn {
  background: none;
  color: #009EFD;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #009EFD;
  cursor: pointer;
}

.topic-content-wrapper {
  padding-top: 80px;
  padding-right: 5px;
  padding-left: 10px;
  text-align: end;
}

.btn-list-wrapper {
  padding-left: 15px;
  padding-top: 20px;
}

.btn-wrapper {
  padding-bottom: 5px;
}

.btn-wrapper:hover {
  cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.comments-section{
  margin-top: 30px;
}
.comment-btn{
  margin: 0px 10px;
}

.comments{
  margin-top: 25px;
}

.profile{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.profile-comments{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.comment-user{
  font-weight: bold;
  font-size: 15px;
}

.comment-time{
  color: #7d8b92;
  font-size: 12px;
}

.reply-button{
  margin-left: 10px;
}
