.searchbar-wrapper {
    display: inline;
    right: -25%;
    position: relative;
    /* overflow: hidden; */
    /* text-align: center; */
}

.search-box {
    margin-top: 8px;
    max-width: 50%;
}

.search-btn {
    overflow: hidden;
}

.search-icon {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}
