<h4 class="p-30">Modules</h4>
<div *ngIf="modules">
  <div class="row">
    <div class="col-3" *ngFor="let module of modules">
      <div class="card explore-card-shadow rounded-border">
        <div class="img-hover-container">
          <img src="{{module.thumbnailUrl}}" alt="Icon" class="image" style="width:100%">
          <div class="middle">
            <div><span class="play-icon fa-layers fa-fw fa-4x" style="color:#009efd;">
                <i class="fa fa-play"></i>
              </span></div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="module-title">{{module.name}}</h4>
          <p class="card-text">{{module.count}} {{module.count == 1 ? 'video' : 'videos'}}</p>
          <!-- <a routerLink="/videoplayer/{{module._id}}" class="btn btn-primary">View Details</a> -->
        </div>
      </div>
    </div>
  </div>
</div>