<div class="row">
    <div class="col-12 m-t-30">
        <h4 class="m-b-0">Explore</h4>
        <p class="text-muted m-t-0 font-12">Add an optional header and/or footer within a card.</p>
        <!-- Card -->
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <a routerLink="/videoplayer/1" class="btn btn-primary">Go somewhere</a>
                <!-- <a  routerLinkActive="active" [state]="{ hello: 'world' }"></a> -->
            </div>
        </div>
        <!-- Card -->
    </div>
</div>
