.img-hover-container {
    position: relative;
}

.img-hover-container:hover .image {
    opacity: 0.3;
}

.img-hover-container:hover {
    cursor: pointer;
}

.img-hover-container:hover .middle {
    opacity: 1;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.p-30 {
    color: #26344b;
    padding-left: 0px;
    margin: 0;
    font-size: xx-large;
    padding-top: 0;
}

.module-title {
    color: #606060;
    font-size: 23px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}

.explore-card-shadow {
    /* -webkit-box-shadow: -1px 6px 12px 0px rgba(209,209,209,1);
    -moz-box-shadow: -1px 6px 12px 0px rgba(209,209,209,1);
    box-shadow: -1px 6px 12px 0px rgba(209,209,209,1); */
    -webkit-box-shadow: -11px 10px 13px -8px rgba(0,0,0,0.33);
-moz-box-shadow: -11px 10px 13px -8px rgba(0,0,0,0.33);
box-shadow: -11px 10px 13px -8px rgba(0,0,0,0.33);
}

.rounded-border {
    overflow: hidden;
    border-radius: 20px;
    border: solid 2px #e6e6e6;
    background: #f4f6f9;
}

.blue-gradient {
    background: -moz-linear-gradient(top,  #009efd 0%, #2af598 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #009efd 0%,#2af598 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #009efd 0%,#2af598 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009efd', endColorstr='#2af598',GradientType=0 ); /* IE6-9 */
}