<div *ngIf="questions">
  <div *ngFor="let item of questions.questions" class="card">
    <div class="card-body">
  
      <div class="question-wrapper">
        <app-inline-edit
        [(ngModel)]="item.questionBody"
        label="{{ item.questionNo }}"
        [required]="true"
        type="text"
        [isQuestion]="true"
        ></app-inline-edit>
      </div>
  
      <div *ngFor="let answer of item.answers" class="answers-wrapper">
          <app-inline-edit
          [(ngModel)]="answer.value"
          label="Name"
          [required]="true"
          type="text"
          [isQuestion]="false"
          ></app-inline-edit>
      </div>
    </div>
  </div>
</div>

<button (click)="logQuestions()">Log</button>
