.answers-wrapper {
  padding-left: 5px;
  padding-top: 5px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px !important;
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      /* margin-top: 7px; */
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .save-btn {
    width: 200px;
  }

  .save-btn-wrapper {
    text-align: center;
  }
/* 
  .question-container {
    padding-left: 100px;
    padding-right: 100px;

  }

  .question-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */

  .example-full-width {
    width: 100%;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .delete-btn-wrapper {
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .radio-btn-input {
    border-bottom: 0.5px solid #ccc;
    min-width: 200px;
  }

  .radio-btn-input:focus {
    outline: none;
    border-bottom: 0.5px solid #4527A0;
   }

   .distractor-remove-button {
     color: #dedede;
   }

//    ::ng-deep .mat-icon{
//     height:18px !important;
//     width:18px !important;
//     font-size:18px !important;
// }

.mat-icon-button.distractor-remove-button {

  width: 18px;
  height: 18px;
  line-height: 18px;

  .mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}