<!-- <p>Click on a question or an answer to edit.</p>
<p>Check on an aswer to select as a correct answer.</p> -->

<div class="question-container" *ngIf="questions">
  <div *ngFor="let item of questions.questions" class="question-wrapper card">
    <div class="card-body">
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="Question"
          [(ngModel)]="item.questionBody"
          value="{{ item.questionBody }}"
        ></textarea>
      </mat-form-field>

      <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason">
          <mat-radio-button class="example-radio-button" *ngFor="let answer of item.answers" [checked]="answer.correct" [value]="answer.id">
              <input matInput placeholder="Favorite food" [(ngModel)]="answer.value"  value="{{answer.value}}">
          </mat-radio-button>
        </mat-radio-group>
      <!-- <div *ngFor="let answer of item.answers" class="answers-wrapper">
          
      </div> -->
    </div>
  </div>
</div>

<div class="save-btn-wrapper">
  <button class="save-btn btn btn-info" (click)="logQuestions()">Save</button>
</div>
