.card-title{
  text-align: center;
  color: #455a64;
  padding-top: 15px;
}
#placeholder{
  text-align: center;
  font-style: italic;
  color: #798699;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

#subtopics{
  height: inherit;
}

#segment-topics{
  width: 60%;
  margin: auto;
}

.save-topics{
  margin: 20px 10px;
  width: auto;
}

.topic-details{
  font-weight: bold;
  font-size: 15px;
}

.group 			  {
  position:relative;
  margin-bottom:45px;
}

#subtopics-body{
  margin: 10px;
  border-radius: 10px;
  min-height: 450px;
}

#subtopics-title{
  background: #E0E0E0;
  padding: 10px;
}

#topic-form{
  margin-top: 25px;
}

.time-selector{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  max-height: fit-content;
}
.time-selector:focus{
  border: 2px solid #6610f2;
  border-radius: 10px;
}

#time-form{
  font-weight: bold;
  font-size: 15px;
}
#topic 				{
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #6610f2;
}
#topic:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
#topic:focus ~ label, #topic:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#6610f2;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#6610f2;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
#topic:focus ~ .bar:before, #topic:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
#topic:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#6610f2; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#6610f2; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#6610f2; }
  to 	{ width:0; background:transparent; }
}
