<div *ngIf="videos.length > 0">
  <div class="row">
    <div class="col-12">
      <h4 class="d-inline">Review these videos before publishing</h4>
      <div class="row pad-30">
        <div class="col-md-3" *ngFor="let video of videos">
          <app-video-thumbnail videoTitle="{{ video.videoTitle }}" description="{{ video.description }}"
            duration="{{ video.duration }}" thumbnailUrl="{{ video.thumbnailUrl }}" [reviewBtn]="true" [id]="video.id">
          </app-video-thumbnail>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="videos.length === 0" class="row justify-content-center">
  <h2>No Videos Up for Review</h2>
</div>
