<div class="card">
  <div class="card-body">
    <aw-wizard navBarLayout="large-empty-symbols">
      <aw-wizard-step
        stepTitle="Upload Video"
        [navigationSymbol]="{ symbol: '1' }"
      >
      
      <div class="row">
        <div class="col-md-6">
            <div class="card .w-50">
                <h2>Upload Video</h2>
                <file-drop
                  dropZoneLabel="Drop files here"
                  (onFileDrop)="dropped($event)"
                  (onFileOver)="fileOver($event)"
                  (onFileLeave)="fileLeave($event)"
                >
                  <span>optional content (don't set dropZoneLabel then)</span>
                </file-drop>
                <div class="upload-table">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody class="upload-name-style">
                      <tr *ngFor="let item of files; let i = index">
                        <td>
                          <strong>{{ item.relativePath }}</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div>
              <h3>Video Details</h3>
            </div>
            <div class="upload-lecture">
                <button class="btn btn-primary" awNextStep>
                  NEXT: UPLOAD SLIDES
                </button>
              </div>
        </div>
      </div>

        
      </aw-wizard-step>
      <aw-wizard-step
        stepTitle="Upload Slides"
        [navigationSymbol]="{ symbol: '2' }"
      >
        <button class="btn btn-primary" awNextStep>SAVE LECTURE</button>
        <a awPreviousStep>Go back</a>
      </aw-wizard-step>
      <aw-wizard-completion-step
        stepTitle="Done"
        [navigationSymbol]="{ symbol: '3' }"
      >
        <h2>Successfully uplaoded your lecture</h2>
      </aw-wizard-completion-step>
    </aw-wizard>
  </div>
</div>
