<div class="card">
  <div class="card-body">
    <aw-wizard navBarLayout="large-empty-symbols">
      <aw-wizard-step
        stepTitle="Upload Video"
        [navigationSymbol]="{ symbol: '1' }"
      >
        <div class="upload-container row">
          <div class="col-md-6">
            <div class="drop-zone">
              <h2>Upload Video</h2>
              <file-drop
                multiple="false"
                dropZoneLabel="Drag and drop your files here"
                (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)"
                (onFileLeave)="fileLeave($event)"
              >
                <table>
                  <tr *ngFor="let item of files; let i = index">
                    {{
                      item.relativePath
                    }}
                  </tr>
                </table>

                <!-- <span *ngFor="let item of files; let i = index">{{ item.relativePath }}</span> -->
              </file-drop>
            </div>
          </div>
          <div class="detail-form col-md-6">
            <div>
              <h3>Video Details</h3>
              <label>Name of the lecture</label>
              <input class="form-control form-control" />
            </div>

            <div>
              <label>Description</label>
              <input class="form-control form-control" />
            </div>
            <div class="save-video-button">
              <button class="btn btn-primary" awNextStep>
                NEXT: UPLOAD SLIDES
              </button>
            </div>
          </div>
        </div>
      </aw-wizard-step>
      <aw-wizard-step
        stepTitle="Upload Slides"
        [navigationSymbol]="{ symbol: '2' }"
      >
        <div class="upload-slides-container">
          <div class="upload-container row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h3 class="step-2-heading">Upload Lecture Slides</h3>
              <div class="drop-zone">
                <file-drop
                  multiple="false"
                  dropZoneLabel="Drag and drop your files here"
                  (onFileDrop)="dropped($event)"
                  (onFileOver)="fileOver($event)"
                  (onFileLeave)="fileLeave($event)"
                >
                  <table>
                    <tr *ngFor="let item of files; let i = index">
                      {{
                        item.relativePath
                      }}
                    </tr>
                  </table>

                  <!-- <span *ngFor="let item of files; let i = index">{{ item.relativePath }}</span> -->
                </file-drop>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>

          <div class="row save-slides-button">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <button class="btn btn-primary" awNextStep>SAVE LECTURE</button>
            </div>
            <div class="col-md-3"></div>
          </div>

          <div class="row back-button">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <a awPreviousStep><u>GO BACK</u></a>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </aw-wizard-step>
      <aw-wizard-completion-step
        stepTitle="Done"
        [navigationSymbol]="{ symbol: '3' }"
      >
      
      <div class="upload-container row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="drop-zone">
            <div class="upload-slides-container">
              <h2>Successfully uploaded your lecture</h2>
              <h4>
                <span>Let us generate the topics and questions for you!</span>
                <span>You will receive a notification once the topics and questions are ready for your review.</span>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row save-slides-button upload-slides-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button class="btn btn-primary">OKAY, UPLOAD ANOTHER LECTURE</button>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row back-button upload-slides-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a awPreviousStep><u>GO BACK TO HOME</u></a>
        </div>
        <div class="col-md-3"></div>
      </div>

      </aw-wizard-completion-step>
    </aw-wizard>
  </div>
</div>
