<div *ngIf="slides.length<=0">
  <br>
  <div class="alert alert-info" role="alert">
    No Slides Available.
  </div>
</div>

<div *ngIf="slides.length>0">
<div class="card m-t-20">
  <!--<div class="card-header">-->
  <div class="card-title-wrapper row">
    <div class="col">
      <h4 class="card-title-header"> Lecture Slides </h4>
    </div>
    <div class="question-count col" style="float: right; width: 70px">
      <p style="text-align: end"> ({{slides.length}} slides)</p>
      <!--<p style="text-align: end">{{ currentSlide }}/{{ slides.length }} SLIDES </p>-->
    </div>
  </div>
  <!--</div>-->
  <div class="container-fluid" id="test">
    <ngb-carousel *ngIf="slides" [showNavigationArrows]="true" [pauseOnHover]="false" [interval]="false" [wrap]="true" [keyboard]="true" >
      <ng-template ngbSlide *ngFor="let slide of slides">
        <img [src]="slide.slide" alt="Random first slide" (click)="getTime(slide.timestamp)" style="max-height:400px; width: 100%; margin: 0;">
        <div class="carousel-caption">
        </div>
      </ng-template>
      <!--<ng-template ngbSlide>-->
        <!--<img [src]="product[1].url" alt="Random second slide" (click)="getTime(product[1].id)" style="max-height:400px; width: 100%; margin: 0;">-->
        <!--<div class="carousel-caption">-->
        <!--</div>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
        <!--<img [src]="product[2].url" alt="Random first slide" (click)="getTime(product[2].id)" style="max-height:400px; width: 100%; margin: 0;">-->
        <!--<div class="carousel-caption">-->
        <!--</div>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
        <!--<img [src]="product[3].url" alt="Random second slide" (click)="getTime(product[3].id)" style="max-height:400px; width: 100%; margin: 0;">-->
        <!--<div class="carousel-caption">-->
        <!--</div>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
        <!--<img [src]="product[4].url" alt="Random first slide" (click)="seekVideo(product[4].id)" style="max-height:400px; width: 100%; margin: 0;">-->
        <!--<div class="carousel-caption">-->
        <!--</div>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
        <!--<img [src]="product[5].url" alt="Random second slide" (click)="getTime(product[5].id)" style="max-height:400px; width: 100%; margin: 0;">-->
        <!--<div class="carousel-caption">-->
        <!--</div>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
      <!--<img [src]="images[2]" alt="Random third slide">-->
      <!--<div class="carousel-caption">-->
      <!--<h3>Third slide label</h3>-->
      <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
      <!--</div>-->
      <!--</ng-template>-->
    </ngb-carousel>
  </div><br/>

  <!--test-->
  <div id="container-fluid">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="slides"
      [width]="850"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>


    <ng-template #prev>
      <img src="assets/images/prev.jpg" id="left" style="width: 15px; height: 15px" />
    </ng-template>
    <ng-template #next>
      <img src="assets/images/prev - Copy.jpg" id="right" style="height: 15px; width: 15px" />
    </ng-template>
    <ng-template #item let-item let-i="index">
      <div class="slide-items">
        <img src="{{ item.slide }}" style="width: 90px; height: 90px" (click)="setImage(item.url)">
      </div>
    </ng-template>
  </div>
</div>
</div>
