<div class="container-fluid">
<ngb-carousel *ngIf="product" [showNavigationArrows]="true" [pauseOnHover]="false" [interval]="5000" [wrap]="true" [keyboard]="true">
<ng-template ngbSlide>
  <img [src]="product[0].url" alt="Random first slide" (click)="getTime(product[0].id)" style="max-height:400px; width: 100%; margin: 0;">
  <div class="carousel-caption">
  </div>
</ng-template>
<ng-template ngbSlide>
  <img [src]="product[1].url" alt="Random second slide" (click)="getTime(product[1].id)" style="max-height:400px; width: 100%; margin: 0;">
  <div class="carousel-caption">
  </div>
</ng-template>
<ng-template ngbSlide>
  <img [src]="product[2].url" alt="Random first slide" (click)="getTime(product[2].id)" style="max-height:400px; width: 100%; margin: 0;">
  <div class="carousel-caption">
  </div>
</ng-template>
<ng-template ngbSlide>
  <img [src]="product[3].url" alt="Random second slide" (click)="getTime(product[3].id)" style="max-height:400px; width: 100%; margin: 0;">
  <div class="carousel-caption">
  </div>
</ng-template>
<ng-template ngbSlide>
  <img [src]="product[4].url" alt="Random first slide" (click)="seekVideo(product[4].id)" style="max-height:400px; width: 100%; margin: 0;">
  <div class="carousel-caption">
  </div>
</ng-template>
<ng-template ngbSlide>
  <img [src]="product[5].url" alt="Random second slide" (click)="getTime(product[5].id)" style="max-height:400px; width: 100%; margin: 0;">">
  <div class="carousel-caption">
  </div>
</ng-template>
<!--<ng-template ngbSlide>-->
<!--<img [src]="images[2]" alt="Random third slide">-->
<!--<div class="carousel-caption">-->
<!--<h3>Third slide label</h3>-->
<!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
<!--</div>-->
<!--</ng-template>-->
</ngb-carousel>
</div>

<!--test-->

